
body {
	width: 100%;
	background-color: #9F9F9F;
	background-image: url(../images/hintergrund2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

video {
	width: 100%;
	height: auto;
}

.container {
	.center-block();
	min-width: 375px;
	max-width: 900px;
	background-color: #F0F0F0;
}

.kopf {
	background-size: cover;
	height: 250px;
}
.kopf>p {
	position: relative;
	top: 60%;
	padding-left: 15px;
	color: red;
	/* font-size: 1,5em; soehe @media */
	text-shadow: 0.10em 0.10em 0.20em black;
	line-height: 100%;
}

.panel-heading {
	text-transform: uppercase;
}
.panel-title {
  font-size: 1em;
}

.fuss {
	border-top-style: solid;
	border-width: 1px;
	border-color: #888888;
	text-align: center;
	font-size: 0.75em;
	padding-top: 10px;
	padding-bottom: 5px;
}

.containerGalleria {
	color: white;
	background-color: black;
}
.galleria {
	min-width: 300px;
	min-height: 200px;
}

.imgGalleryFSC {
	width: 160px;
	height: 120px;
}

.terminAbgelaufen {
	display: none;
}

.inputPflicht {
	background-color: beige;
}

.mitZugriff {
    display: none;
}
.ohneZugriff {
    display: inline;
}

/* MEDIA SCREEN ------------------------------------------------------ */

@media screen and (max-width:480px){
.kopf>p {
	font-size: 2.00em;
}
.galleria {
	min-width: 300px;
	min-height: 200px;
}
}

@media screen and (min-width:481px) and (max-width:767px){
.kopf>p {
	font-size: 2.25em;
}
.galleria {
	min-width: 400px;
	min-height: 300px;
}
}

@media screen and (min-width:768px) and (max-width:991px){
.kopf>p {
	font-size: 2.50em;
}
.galleria {
	min-width: 600px;
	min-height: 400px;
}
video {
	width: 640px;
	height: auto;
}
}

@media screen and (min-width:992px) and (max-width:1199px){
.kopf>p {
	font-size: 2.75em;
}
.galleria {
	min-width: 600px;
	min-height: 400px;
}
.terminAbgelaufen {
	display: table-row;
	color: #B8B8B8;
}
video {
	width: 640px;
	height: auto;
}
}

@media screen and (min-width: 1200px){
.kopf>p {
	font-size: 3.00em;
}
.galleria {
	min-width: 600px;
	min-height: 400px;
}
.terminAbgelaufen {
	display: table-row;
	color: #B8B8B8;
}
video {
	width: 640px;
	height: auto;
}
}

/* MEDIA PRINT ------------------------------------------------------ */

@media print {
.terminAbgelaufen {
	display: none;
}
}